<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Rent Estimate</title>
  </head>
  <body>
    <h1>Rent Estimate</h1>
    <div class="api">
        <h4>API Information</h4>
        <p>
          Parameters:
          <li>bedrooms</li>
          <li>bathrooms</li>
          <li>area</li>
        </p>
        <p>
          Return:
          <li>bedrooms</li>
          <li>bathrooms</li>
          <li>area</li>
          <li>Rent Estimate</li>
        </p>

      <p> url : /api/bedrooms=NO_OF_BEDROOMS&bathrooms=NO_OF_BATHROOMS&area=AREA</p>
      <p><b>Areas supported :</b>
      'Granite Bay', 'Loomis', 'Roseville', 'Sacramento', 'Carmichael',
       'Lincoln', 'West Sacramento', 'Davis', 'Citrus Heights',
       'Orangevale', 'Rancho Cordova', 'Antelope', 'Fair Oaks',
       'McClellan', 'Placerville', 'Isleton', 'Vacaville', 'Lodi',
       'Olivehurst', 'Applegate', 'Rio Linda', 'Acampo', 'Folsom',
       'Shingle Springs', 'Canoga Park', 'Galt', 'Rio Vista',
       'El Dorado Hills', 'Auburn', 'Elk Grove', 'Woodland', 'Dixon',
       'Rocklin', 'Esparto', 'Elverta', 'Sloughhouse', 'North Highlands'
      </p>

    </div>
  </body>
</html>
